<%= form_for @tmp, url: wizard_path do |f| %>
  <% if @tmp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tmp.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @tmp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= yield f %>

  <div class="actions">
    <%= f.submit t(:continue, scope: 'view') %>
    又は <%= link_to t(:skip_this_step, scope: 'view'), next_wizard_path %>
  </div>
<% end %>
